<header class="site-header" role="banner">

  <div class="container my-4">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    {%- assign club_paths = site.clubs | map: "path" -%}
    <nav class="navbar navbar-expand-lg justify-content-end navbar-light">
      <a class="navbar-brand mr-auto" rel="author" href="{{ "/" | relative_url }}">
        <img src="{{ site.logo_image }}" alt="{{ site.title }}">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse text-right flex-grow-0" id="navbarNavAltMarkup">
        <ul class="navbar-nav">
          
          {%- for path in page_paths -%}
            {%- assign my_page = site.pages | where: "path", path | first -%}
            {%- if my_page.title -%}
            <li class="nav-item">
              <a class="nav-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
            </li>
            {%- endif -%}
          {%- endfor -%}

          {%- if club_paths -%}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Clubs
              </a>
              <div class="dropdown-menu text-right" aria-labelledby="navbarDropdownMenuLink">
              {%- for path in club_paths -%}
                {%- assign my_club = site.clubs | where: "path", path | first -%}
                {%- if my_club.title -%}
                <a class="dropdown-item" href="{{ my_club.url | relative_url }}">{{ my_club.title | escape }}</a>
                {%- endif -%}
              {%- endfor -%}
              </div>
            </li>
          {%- endif -%}

          <!-- TODO: PACE grouping -->
        </ul>
      </div>
    </nav>
  </div>

</header>
  