<header class="site-header" role="banner">

  {%- assign default_paths = site.pages | map: "path" -%}
  {%- assign page_paths = site.header_pages | default: default_paths -%}
  {%- assign club_paths = site.clubs | map: "path" -%}
  {%- assign pace_paths = site.pace | map: "path" -%}
  <nav class="navbar navbar-expand-lg justify-content-end navbar-light">
    <div class="container my-4">
      <a class="navbar-brand mr-auto" rel="author" href="{{ "/" | relative_url }}">
        <img src="{{ site.logo_image }}" alt="{{ site.title }}">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse flex-grow-0" id="navbarNavAltMarkup">
        <ul class="navbar-nav">

          {%- for path in page_paths -%}
            {%- assign my_page = site.pages | where: "path", path | first -%}
            {%- if my_page.title -%}
            <li class="nav-item px-2 {% if page.url == my_page.url %} active {% endif %}">
              <a class="nav-link" href="{{ my_page.url | relative_url }}">
                <span class="underlinable">{{ my_page.title | escape }}</span>
              </a>
            </li>
            {%- endif -%}
          {%- endfor -%}

          {%- if club_paths -%}
            <li class="nav-item dropdown px-2">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="underlinable">Clubs</span>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              {%- for path in club_paths -%}
                {%- assign my_club = site.clubs | where: "path", path | first -%}
                {%- if my_club.title -%}
                <a class="dropdown-item {% if page.url == my_club.url %} active {% endif %}" href="{{ my_club.url | relative_url }}">{{ my_club.title | escape }}</a>
                {%- endif -%}
              {%- endfor -%}
              </div>
            </li>
          {%- endif -%}

          {%- if pace_paths -%}
            <li class="nav-item dropdown px-2">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="underlinable">PACE</span>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              {%- for path in pace_paths -%}
                {%- assign my_pace_page = site.pace | where: "path", path | first -%}
                {%- if my_pace_page.title -%}
                <a class="dropdown-item {% if page.url == my_pace_page.url %} active {% endif %}" href="{{ my_pace_page.url | relative_url }}">{{ my_pace_page.title | escape }}</a>
                {%- endif -%}
              {%- endfor -%}
              </div>
            </li>
          {%- endif -%}
        </ul>

        <ul class="contact-methods">
          <li><a href="{{ site.facebook_url }}" title="Facebook"><i class="fa fa-facebook"></i></a></li>
          <li><a href="{{ site.instagram_url }}" title="Instagram"><i class="fa fa-instagram"></i></a></li>
          <li><a href="mailto:{{ site.district_email }}" title="Email"><i class="fa fa-envelope-o"></i></a></li>
        </ul>
    </div>
  </nav>

</header>
