/**
 * Site header
 */
.site-header {
  border-bottom: 1px solid $grey-color-light;

  .nav-container, .navbar-nav, .contact-methods {
    @include media-query($on-laptop) {
      max-width: 100%;
      margin: 0 !important;
    }
  }

  .logo-small {
    display: none;
  }

  @include media-query($on-palm) {
    .logo-small {
      display: block;
    }

    .logo-large {
      display: none;
    }
  }

  .contact-methods {
    margin-bottom: 0;

    li {
      display: inline;
    }

    a {
      -moz-border-radius:50%;
      -webkit-border-radius:50%;
      border-radius:50%;
      display:inline-block;
      position:relative;
      margin:0 auto 0 auto;
      width: 26px;
      height: 26px;
      text-align:center;
      font-size:16px;
      transition: all .3s ease-in;
    }

    a:hover {
      transition: all .3s ease-in;
      background-color: $brand-color;
      color: $off-white-color;
    }

    a:hover i {
      transition: all .3s ease-in;
      color: $off-white-color;
    }

    i {
      margin:0;
      line-height:26px;
      text-align: center;
      color: $brand-color;
      transition: all .3s ease-in;
    }
  }

  .underlined-when-active {
    display:inline-block;
  }

  .underlined-when-active:after {
    display:block;
    content: '';
    border-bottom: solid 2px $brand-color;
    transform: scaleX(0);
    transform-origin:  0% 50%;
    transition: transform 250ms ease-in-out;
  }

  .nav-item.active .underlined-when-active:after, .nav-item:hover .underlined-when-active:after{
    transform: scaleX(1);
  }

  .dropdown-item {
    font-size: 13px;
    color: $text-color;
  }

  .dropdown-item.active, .dropdown-item:active, .dropdown-item:hover {
    color: $brand-color;
    background-color: transparent;
  }

  .dropdown-menu {
    border-radius: 0;
    border: none;
    background-color: #f9f9f9;
    box-shadow: 0 0 4px rgba(0,0,0,.2);
  }

  .navbar-toggler {
    border: none;
  }
}


/**
 * Page content
 */
.page-img-header {
  img {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
  }
}

.page-banner {
  display: flex;
  background-color: #f7f7f7;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  min-height: 180px;

  @include media-query($on-palm) {
    min-height: 70px;
  }

  .page-title {
    text-transform: uppercase;
    color: $brand-color;
    font: normal bold 30px / 40px "Open Sans", Helvetica, Arial, Verdana, sans-serif;

    @include media-query($on-palm) {
      font-size: 24px;
    }
  }
}

/**
 * Home
 */
.home {
  align-items: center;

  .typed-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 400px;
    color: $brand-color;
    font-size: 60px;
    font-weight: 700;
  }

  .typed-cursor {
    font-weight: 100;
    color: $text-color;
  }

  .club-list {
    background: url("/assets/images/district_website_district_rotaract_club_list_home-1.jpg") no-repeat;
    background-size: cover;

    h1, li {
      color: $off-white-color
    }

    li {
      margin-bottom: 8px;
    }

    ul {
      column-count: 2;
      list-style-position: inside;
      margin-left: 0;
      width: 75%;

      @include media-query($on-laptop) {
        width: 100%;
      }

      @include media-query($on-palm) {
        column-count: 1;
        width: 100%;
      }
    }

    hr {
      background-color: $off-white-color;
    }

    .club-name {
      padding-left: 8px;
      font-weight: 400;
    }
  }
}

/**
 * Club Page
 */
.club-page {

  iframe {
    display: block;
    width: 100%;
  }

  .list-group-item {
    margin-bottom: 10px;
    border: none;
    border-radius: 0 !important;
    color: $brand-color;
    background-color: $grey-color-light;
  }

  .list-group-item.active {
    background-color: $brand-color;
    color: $off-white-color;
  }

  .contact-methods {
    margin-left:0 !important;

    li {
      display: inline;
      margin: 0 5px;
    }

    a {
      display:inline-block;
      position:relative;
      margin:0 auto 0 auto;
      -moz-border-radius:50%;
      -webkit-border-radius:50%;
      border-radius:50%;
      text-align:center;
      width: 50px;
      height: 50px;
      font-size:20px;
      background-color: $grey-color;
      transition: all .3s ease-in;
    }

    a:hover {
      background-color: $brand-color;
    }

    i {
      margin:0;
      line-height:50px;
      text-align: center;
      color: $off-white-color;
      -webkit-transition: all 0.8s;
      -moz-transition: all 0.8s;
      -o-transition: all 0.8s;
      -ms-transition: all 0.8s;
      transition: all 0.8s;
    }
  }

  .map-wrapper {
    background-color: $grey-color-light;
    padding: 4px;
  }


}

/**
 * Club Page
 */
 .team-page {
   text-align: center;
 }

/**
 * Site footer
 */
footer {
background-color: $grey-color-light;
}
