---
layout: default
---

<div class="home">
  <div class="container my-5">
    <div class="row">
      <div class="col what-is">
        <div>
          <!-- TODO: use page title, if it won't mess w/ page navigation -->
          <h1>What is Rotaract?</h1>
          <hr>
          {{ content }}
        </div>
      </div>
      <div class="col typed">
        <!-- TODO: animate with typed.js -->
        <h2>LEADERSHIP</h2>
      </div>
    </div>
  </div>
  <div class="club-list">
    <div class="container py-5">
      <h1>Clubs in District 5040</h1>
    <hr>
    <ul>
      {%- for club in site.clubs -%}
      <li><span class="club-name">{{ club.title | upcase}}</span></li>
      {%- endfor -%}
    </ul>
    </div>
  </div>
</div>